.btn-medium {
  color: lightgrey;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 15px 20px;
  font-weight: lighter;
}

.btn-medium:hover {
  color: grey;
  border: 1px solid grey;
}


.btn-treehouse {
  color: white;
  background-color: rgb(5, 209, 5);
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 8px;
}

.btn-treehouse:hover {
  background-color: rgb(21, 179, 21);
}

.btn-yours {
  background-color: rgb(177, 8, 8);
  padding: 15px 20px;
  border-radius: 50%;
  color: red;
  font-weight: bold;
}

.btn-yours:hover {
  background-color: red;
}
